body {
    font-family:"PingFang SC", "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

button {
    outline: 0!important;
    border: none;
    box-shadow: none;
}

p {
    margin: 0;
    padding: 0;
}